<template>
  <div>
    <Header></Header>
    <div class="row">
      <div class="col-md-6">
        <b-btn v-b-modal.addmodal> Add New Product</b-btn>
      </div>
    </div>
    <ProductListAdmin></ProductListAdmin>
    <b-modal ref="addmodal1" id="addmodal" hide-footer title="Add A New Product">
        <div class="d-block text-center">
          <b-form-input v-model="name" type="text" placeholder="Product Name"></b-form-input>
          <b-form-input v-model="description" type="text" placeholder="Product Description"></b-form-input>
          <b-form-input v-model="image" type="text" placeholder="Url of Image"></b-form-input>
          <b-form-input v-model="price" type="text" placeholder="Product Price"></b-form-input>
          <b-form-input v-model="quantity" type="text" placeholder="Product Quantity"></b-form-input>
        </div>
        <b-btn class="mt-3" variant="outline-default" block @click="addProduct"> Save </b-btn>
    </b-modal>
  </div>
</template>

<script>
import Header from '../components/Header'
import api from '../services/api'
import ProductListAdmin from '../components/ProductListAdmin'

export default {
  data: () => ({
    name: "", description: "", price: "", quantity: "", image: ""
  }),
  components: { Header, ProductListAdmin },

  mounted: async function(){
    // verify user is loggedin
    if(this.$store.state.sessionToken == "") this.$router.push({path:'/login'})

    this.$store.commit('TOGGLE_LOADING')
      let products = await api.browseProducts( this.$store.state.sessionToken )
    this.$store.commit('TOGGLE_LOADING')

    this.$store.commit('UPDATE_PRODUCT', products)
  },
  
  methods: {
    addProduct: async function(){
      this.$store.commit('TOGGLE_LOADING')
      let result = await api.addProduct( this.name, this.description, this.image, this.price, this.quantity, this.$store.state.sessionToken)
      this.$store.commit('TOGGLE_LOADING')

      if(result.status == 200){
        this.$store.commit('ADD_PRODUCT', result.product)
        this.name = ""
        this.description = ""
        this.image = ""
        this.price = ""
        this.quantity = ""
        this.$refs.addmodal1.hide()
        alert("product added")
      }
      else{
        alert(result.message)
      }
    }
  }
}
</script>
