<template>
  <div class="container">
    <Header />
    <div class="row">
      <b-nav fill tabs>
        <b-nav-item v-bind:active="pactive" @click="views('products')">Products</b-nav-item>
        <b-nav-item v-bind:active="cactive" @click="views('cart')">Cart <b-badge variant="danger">{{cartSize}}</b-badge> </b-nav-item>
        <b-nav-item @click="refreshproducts"> Refresh </b-nav-item>
      </b-nav>
    </div>
    <div class="row">
      <ProductList v-bind:products="products" v-if="view == 'products'" />
      <CartList v-bind:products="cart" v-if="view == 'cart'" v-on:changeview="views('products')" />
    </div>
  </div>
</template>



<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import ProductList from '../components/ProductList.vue'
import CartList from '../components/CartList.vue'
import Header from '../components/Header.vue'
import api from '../services/api'

export default{
  data: () => ({
    view: 'products',
    pactive: true,
    cactive: false
  }),

  computed: {
    ...mapState([
      'products', 'cart'
    ]),
    ...mapMutations(['UPDATE_PRODUCT']),
    ...mapGetters(['cartSize', 'sessionToken'])
  },
  components: { ProductList, CartList, Header },

  mounted: async function(){
    // verify user is loggedin
    if(this.$store.state.sessionToken == "") this.$router.push({path:'/login'})

    this.$store.commit('TOGGLE_LOADING')
      let products = await api.browseProducts( this.$store.state.sessionToken )
    this.$store.commit('TOGGLE_LOADING')

    this.$store.commit('UPDATE_PRODUCT', products)
  },

  methods: {
    refreshproducts: async function(){
      this.$store.commit('TOGGLE_LOADING')
        let products = await api.browseProducts( this.$store.state.sessionToken )
      this.$store.commit('TOGGLE_LOADING')

      this.$store.commit('UPDATE_PRODUCT', products)
    },
    views: function(v){
      if(v == 'cart')
      {
        this.view = 'cart'
        pactive = false
        cactive = true
      }
      else{
        this.view = 'products'
        pactive = true
        cactive = false
      }
    }
  }
}
</script>
