<template>
<div>
  <Loader />
  <header>
    <h5>LOGIN TO SHOP</h5>
  </header>
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-4">
          <div class="form-group">
            <input type="text" name="email" class="form-control" id="email" placeholder="Email" v-model="email" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" v-model="password" />
          </div>

          <b-button type="button" v-on:click="dologin" variant="primary">LOGIN</b-button>

          <p>Not Yet Registered? <a href="#" @click="gotoregister">Click Here to Register</a> </p>
        </div>
      </div>
    </div>
  </form>
</div>
</template>

<style scoped>
  header{
    height: 100px;
    background-color: #f46542;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
  }
</style>

<script>
import api from '../services/api'
import {mapMutations} from 'vuex'
import Loader from '../components/Loader.vue'

export default{
  data: () => ({
    email: "", password: ""
  }),
  computed: {
    ...mapMutations(['SET_SESSION', 'TOGGLE_LOADING'])
  },

  components: {Loader},

  methods: {
    dologin: async function(){
      try{
        this.$store.commit('TOGGLE_LOADING')
        let result = await api.login(this.email, this.password)
        this.$store.commit('TOGGLE_LOADING')
        if(result.status == 200){
          this.$store.commit('SET_SESSION', result.sessionToken)

          if(result.isadmin){
            return this.$router.push({path:'/admin'})
          }
          return this.$router.push({path:'/dashboard'})
        }

        alert("Invalid Username/Password")
      }
      catch(e){
        this.$store.commit('TOGGLE_LOADING')
        alert(e.message)
      }
    },

    gotoregister: function(){
      this.$router.push({path:'/register'})
    }
  }
}
</script>
