<template>
<div class="container products">
  <div class="row"> <h4 class="title"> Cart </h4> </div>
  <div class="row">
    <div class="col-md-3 col-sm-6" v-for="(product, index) in cart">
      <Product
        v-bind:name="product.name"
        v-bind:description="product.description"
        v-bind:price="product.price"
        v-bind:quantity="product.quantity"
        v-bind:image="product.image"
        v-bind:incart="true"
        v-bind:index="index"
      />
    </div>
  </div>

  <div class="row" v-if="cartSize > 0">
    <div class="col-md-4 col-offset-4">
      <button class="btn btn-block btn-primary" @click="placeOrder">Place Order</button>
    </div>
  </div>
</div>
</template>

<style scoped>
.products{
  margin-top: 20px;
}
.title{ text-align: center }
</style>

<script>
  import Product from './Product'
  import {mapState, mapGetters, mapMutations} from 'vuex'
  import api from '../services/api'

  export default{

    components: { Product },

    computed: {
      ...mapState(['cart']),
      ...mapGetters(['cartSize', 'getOrder']),
      ...mapMutations(['CLEAR_CART'])
    },

    methods:{
      placeOrder: async function(){
        // endpoint expects id and quantity
        let order = []
        this.$store.state.cart.forEach(product => {
          order[order.length] = { id: product.id, quantity: product.quantity }
        })

        this.$store.commit('TOGGLE_LOADING')
        let result = await api.placeOrder(order, this.$store.state.sessionToken)
        this.$store.commit('TOGGLE_LOADING')

        if(result.status == 200){
          this.$store.commit('CLEAR_CART')
          alert("order placed successfully")
          this.$emit('changeview')
        }else{
          alert(result.message)
        }
      }
    }
  }
</script>
