<template>
<b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand href="#">Order App</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <b-nav-item href="#" v-on:click="dashboard">Dashboard</b-nav-item>
      <b-nav-item href="#" v-on:click="logout">Logout</b-nav-item>
    </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

      <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
        <b-button size="sm" class="my-2 my-sm-0" type="button">Search</b-button>
      </b-nav-form>

    </b-navbar-nav>

  </b-collapse>
</b-navbar>
</template>

<script>
  export default {
    methods: {
      dashboard: function(){},
      logout: function(){
        this.$store.commit('LOGOUT')
        this.$router.push({path: '/login'})
      }
    }
  }
</script>
