<template>
  <div class="background" v-if="loading">
    <div class="loader">
      <img src="../assets/loader.gif" style="height: 100px" />
    </div>
  </div>
</template>

<style scoped>
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  z-index: 3000;
  overflow: hidden;
}

.loader{
  position: relative;
  text-align: center;
  top: 40%;
}
</style>

<script>
  import { mapGetters} from 'vuex'

  export default
  {
    data: () => ({

    }),

    computed: {
      ...mapGetters(['loading'])
    },
  }
</script>
