<template>
  <tr>
    <td> <img v-bind:src="image" style="height:50px" /> </td>
    <td> {{ name }} </td>
    <td> {{ description }} </td>
    <td> {{ price }} </td>
    <td> {{ quantity }} </td>
    <td>
      <button class="btn btn-link" v-bind:data-id="id" v-on:click="edit">Edit</button>
      <button class="btn btn-md btn-danger" v-bind:data-id="id" v-on:click="deletepr">Delete</button>
    </td>
  </tr>
</template>

<style scoped>

</style>

<script>
  export default {

    props: ["name", "description", "image", "price", "quantity", "id"],

    methods: {
      edit: function(event){ this.$emit('editproduct', event.srcElement.getAttribute('data-id'))},
      deletepr: function(event){ this.$emit('deleteproduct', event.srcElement.getAttribute('data-id'))}
    }
  }
</script>
