<template>
  <b-card v-bind:title="name"
        v-bind:img-src="image"
        v-bind:data-index="index"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2">
    <p class="card-text">
      {{ description }}

      <div class="row">
        <div class="col-6">
          <div class="price"> Price: {{price}} </div>
        </div>
        <div class="col-6">
          <div class="quantity"> Qty: {{quantity}} </div>
        </div>
      </div>
    </p>
    <div class="row" v-if="incart">
      <div class="col-6">
        <button class="button" v-bind:data-index="index" v-on:click="lessquantity"> &lt; </button>
      </div>
      <div class="col-6">
        <button class="button" v-bind:data-index="index" v-on:click="morequantity"> &gt; </button>
      </div>
    </div>
    <b-button v-if="inproductlist" @click="addtocart" v-bind:data-index="index" variant="primary"> Add To Cart </b-button>
    <b-button v-if="incart" @click="removefromcart" v-bind:data-index="index" variant="warning"> Remove From Cart </b-button>

  </b-card>
</template>

<style scoped>
.price {}
.quantity {}
.button { font-size: 1.3em; outline: none; color: #000; background: #fff; }
</style>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default{
  props: ["name", "description", "price", "quantity", "image", "inproductlist", "incart", "index"],
  computed:{
    ...mapState(['cart']),
    ...mapMutations(['ADD_CART', 'REMOVE_CART']),
    ...mapGetters(['cartSize'])
  },

  methods: {
    addtocart: function(){
      this.$store.commit('ADD_CART', this.$props.index)
    },

    removefromcart: function(){
      this.$store.commit('REMOVE_CART', this.$props.index)
    },

    lessquantity: function(){
      this.$store.commit('DOWN_QUANTITY', this.$props.index)
    },
    morequantity: function(){
      this.$store.commit('UP_QUANTITY', this.$props.index)
    }
  }
}
</script>
