<template>
<div>
  <table class="table">
    <ProductAdmin v-for="product in allProducts" v-bind="product" v-on:editproduct="edit" v-on:deleteproduct="deletep" />
  </table>

  <b-modal ref="editModal" hide-footer title="Edit Product">
      <div class="d-block text-center">
        <b-form-input v-model="name" type="text" placeholder="Product Name"></b-form-input>
        <b-form-input v-model="description" type="text" placeholder="Product Description"></b-form-input>
        <b-form-input v-model="image" type="text" placeholder="Url of Image"></b-form-input>
        <b-form-input v-model="price" type="text" placeholder="Product Price"></b-form-input>
        <b-form-input v-model="quantity" type="text" placeholder="Product Quantity"></b-form-input>
      </div>
      <b-btn class="mt-3" variant="outline-default" block @click="update"> Save </b-btn>
  </b-modal>
</div>
</template>

<style scoped>

</style>

<script>
  import {mapState, mapMutations, mapGetters} from 'vuex'
  import api from '../services/api'
  import ProductAdmin from './ProductAdmin'

  export default {
    data: () => ({
      name: "", description: "", price: "", quantity: "", id: "", image: ""
    }),
    computed: { ...mapState(['products']), ...mapGetters(['allProducts']) },
    components: { ProductAdmin },
    methods: {
      edit: function(id){
        this.$store.state.products.forEach(p => {
          if(p.id == id){
            this.name = p.name
            this.description = p.description
            this.image = p.image
            this.price = p.price
            this.quantity = p.quantity
            this.id = p.id

            this.$refs.editModal.show()
          }
        })

      },
      deletep: async function(id){
        this.$store.commit('TOGGLE_LOADING')
        let result = await api.deleteProduct(id, this.$store.state.sessionToken)
        this.$store.commit('TOGGLE_LOADING')

        if(result.status == 200){
          this.$store.commit('REMOVE_PRODUCT', id)
          alert("Product deleted")
        }
        else{
          alert(result.message)
        }
      },
      update: async function(){
        let pdata = {name: this.name, description: this.description,
          price: this.price, image: this.image, quantity: this.quantity}

        this.$store.commit('TOGGLE_LOADING')
        let result = await api.updateProduct(this.id, pdata, this.$store.state.sessionToken)
        this.$store.commit('TOGGLE_LOADING')

        if(result.status == 200){
          pdata.id = this.id
          this.$store.commit('ADMIN_UPDATE_PRODUCT', pdata )
          this.$refs.editModal.hide()

          console.log(hello)

          this.name = ""
          this.description = ""
          this.image = ""
          this.price = ""
          this.quantity = ""
          this.id = ""
        }
        else{
          alert(result.message)
        }
      }
    },
  }
</script>
