<template>
<div class="container products">
  <div class="row"> <h4 class="title"> Products </h4> </div>
  <div class="row">
    <div class="col-md-3 col-sm-6" v-for="(product, index) in products">
      <Product
        v-bind:name="product.name"
        v-bind:description="product.description"
        v-bind:price="product.price"
        v-bind:quantity="product.quantity"
        v-bind:image="product.image"
        v-bind:inproductlist="true"
        v-bind:index="index"
      />
    </div>
  </div>


</div>
</template>

<style scoped>
.products{
  margin-top: 20px;
}

.title{ text-align: center }
</style>

<script>
  import Product from './Product'

  export default{
    props: {
      products: Array
    },
    components: { Product }

  }
</script>
