<template>
  <div class="container">
  <header>
    <h5>Register</h5>
  </header>
    <div class="row">
      <div class="col-md-4 offset-4">
        <div class="form-group">
          <b-form-input type="text" placeholder="Username" v-model="username"></b-form-input>
        </div>
        <div class="form-group">
          <b-form-input type="email" placeholder="Email" v-model="email"></b-form-input>
        </div>
        <div class="form-group">
          <b-form-input type="text" placeholder="Phone Number" v-model="phone"></b-form-input>
        </div>
        <div class="form-group">
          <b-form-input type="password" placeholder="Password" v-model="password"></b-form-input>
        </div>


        <b-button type="button" v-on:click="register()">Register</b-button>

        <p>Already Registered? <a href="#" @click="gotologin">Click Here to Login</a> </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
header{
  height: 100px;
  background-color: #f46542;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
}
</style>

<script>
import api from '../services/api.js'
export default {
  data: () => ({
    email: '',
    username: '',
    password: '',
    phone: ''
  }),


  methods: {
    register: async function(){
      try{
        this.$store.commit('TOGGLE_LOADING')
        let result = await api.register(this.username, this.email, this.password, this.phone)
        this.$store.commit('TOGGLE_LOADING')

        if(result.status == 200) return this.$router.push({path:'/login'})
      }
      catch(e){ alert(e.message) }
    },

    gotologin: function(){
      this.$router.push({path:'/login'})
    }
  }
}
</script>
